<table>
	<thead>
		<tr>
			<th>
				<div class="header-content">
					<span class="material-icons">tag</span>
					Keyword
				</div>
			</th>
			<th>
				<div class="header-content">
					<span class="material-icons">analytics</span>
					Metrica 1
				</div>
			</th>
			<th></th>
			<th>
				<div class="header-content">
					<span class="material-icons">emoji_events</span>
					Metrica 2
				</div>
			</th>
			<th></th>
			<th>
				<div class="header-content">
					<span class="material-icons">trending_up</span>
					Metrica 3
				</div>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody id="load_keywords_rows">
		{% for grupo in listado %}
		{% set valores_grafico = grupo.dias | map(attribute='metrica_value') | list | tojson %}
		<tr>
			<td>
				<div class="table-icon"><img src="{{ url_for('static', filename='images/icon-' + grupo.fuente + '.png') }}" alt="Icono"></div>
				<div class="table-name">{{ grupo.keyword }}</div>
			</td>
			<td><strong>{{grupo.max_metrica_type}}:</strong> {{grupo.max_metrica_value}}</td>
			<td>
				<div class="contenedor-grafico">
					<!-- El atributo data-datos recibe el array de números -->
					<canvas class="grafico-canvas" data-datos="{{ grupo.valores_linea }}" data-color="#3b82f6"></canvas>
				</div>
			</td>
			<td><strong>{{grupo.max_metrica2_type}}:</strong> {{grupo.max_metrica2_value}}</td>
			<td>
				<div class="contenedor-grafico">
					<!-- El atributo data-datos recibe el array de números -->
					<canvas class="grafico-canvas" data-datos="{{ grupo.valores_linea2 }}" data-color="#14c981"></canvas>
				</div>
			</td>
			<td>
				{% if grupo.max_metrica3_type != None %}
				<strong>{{grupo.max_metrica3_type}}:</strong> {{grupo.max_metrica3_value}}</td>
				{% endif %}
			<td>
				{% if grupo.max_metrica3_type != None %}
				<div class="contenedor-grafico">
					<!-- El atributo data-datos recibe el array de números -->
					<canvas class="grafico-canvas" data-datos="{{ grupo.valores_linea3 }}" data-color="#f5b342"></canvas>
				</div>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<script>
	miGrafico(".grafico-canvas");
</script>