{% for lista in lista %}
{% set myid = lista['keyword_id'] %}
{% set myname = lista['keyword_name'] %}
{% set mymetrica_name = lista['keyword_metrica_name'] %}
{% set mymetrica_value = lista['keyword_metrica_value'] %}
{% set myindicador_name = lista['keyword_indicador_name'] %}
{% set myindicador_value = lista['keyword_indicador_value'] %}
{% set myfuente = lista['keyword_fuente'] %}
{% set myestado = lista['keyword_estado'] %}
<tr>
	<td>
		<div style="display: flex; align-items: center; gap: 12px;">
			<span class="keyword-tag">
				{{ myname }}
				<span class="material-icons">close</span>
			</span>
		</div>
	</td>
	<td>
		<div class="metric-cell">
			{% if myfuente == 'semrush' %}
			<span class="material-icons" style="color: #ff7f50;">analytics</span>
			{% endif %}
			{% if myfuente == 'google search' %}
			<i class="fab fa-google" style="color: #4285F4;"></i>
			{% endif %}
			{% if myfuente == 'custom' %}
			<span class="material-icons">tag</span>
			{% endif %}
			{{ myfuente }}
		</div>
	</td>
	<td>
		<div class="metric-cell">
			<span class="material-icons">arrow_upward</span>
			{{ myindicador_name }}:
			<span class="metric-value">{{ myindicador_value }}</span>
			<div class="mini-chart">
				<svg viewBox="0 0 80 30" preserveAspectRatio="none">
					<polyline 
						points="0,16 10,12 20,18 30,14 40,20 50,12 60,16 70,14 80,18" 
						fill="none" 
						stroke="#0077b6" 
						stroke-width="2"/>
				</svg>
			</div>
		</div>
	</td>
	<td>
		<div class="metric-cell">
			<span class="material-icons">trending_up</span>
			{{ mymetrica_name }}:
			<span class="metric-value">{{ mymetrica_value }}</span>
			<div class="mini-chart">
				<svg viewBox="0 0 80 30" preserveAspectRatio="none">
					<polyline 
						points="0,16 10,12 20,18 30,14 40,20 50,12 60,16 70,14 80,18" 
						fill="none" 
						stroke="#519e2b" 
						stroke-width="2"/>
				</svg>
			</div>
		</div>
	</td>
	<td>
		<a class="arrow-button boton" href="../../colecciones/article?keyid={{myid}}">
			<span class="material-icons">article</span><span class="texto">generar articulo</span>
		</a>
	</td>
</tr>
{% endfor %}